body{
    background-color: rgb(50, 50, 50);
    color:aliceblue;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}